/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * FOOTER
*/


footer {
	background:black;
	padding-top: 10px;
	padding-bottom: 10px;
	.container {
		background:black;
	}
	p {
		color: white;
	}
	.songkick {
		height: 25px;
	}
}


/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
